@import url("bootstrap.min.css");

.overflow-scroll {
    overflow-y: scroll;
}

.bottom-0 {
    bottom: 0;
}

.deletedMessage {
    color: grey;
}



body {
    color: #fff;
    background-color: #36393f;
}

.container-fluid > .row {
    height: 100vh;
}

.color-darkgray {
    color: #6d7078;
}

#servers {
    background-color: #202225;
}
#channels {
    background-color: #2f3136;
}

.server-button {
    color: #6d6e71;
    background-color: #202225;
    border: none;
    transition: 0.5s;
}
.server-button:hover {
    color: #fff;
    background-color: #2f3136;
    transition: 0.5s;
}

label {
    color: #afb1b3;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
}

.form-control {
    color: #e1e1e2;
    background-color: #303338;
    border: 1px solid #222427;
}
.form-control:focus {
    color: #e1e1e2;
    background-color: #303338;
    border: 1px solid #7289da;
    box-shadow: none;
}

.btn {
    color: #fff;
    background-color: #7289da;
    border: none;
}

.btn:hover {
    background-color: #6c82ce
}

#connecting {
    padding: .375rem .75rem;
}
