@import url("bootstrap.min.css");

.overflow-scroll {
    overflow-y: scroll;
}

.bottom-0 {
    bottom: 0;
}

.deletedMessage {
    color: grey;
}

html, body, body > .container-fluid, body > .container-fluid > .row {
    height: 100%;
}

