@import url("bootstrap.min.css");
.overflow-scroll {
    overflow-y: scroll;
}

.bottom-0 {
    bottom: 0;
}

.deletedMessage {
    color: grey;
}

body {
    color: #fff;
    background-color: #36393f;
}

.container-fluid>.row {
    height: 100vh;
}

.color-darkgray {
    color: #6d7078;
}

#servers {
    background-color: #202225;
    margin-bottom: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

#channels {
    background-color: #2f3136;
    margin-bottom: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

.server-button {
    color: #6d6e71;
    background-color: #202225;
    border: none;
    transition: 0.5s;
}

.server-button:hover {
    color: #fff;
    background-color: #2f3136;
    transition: 0.5s;
}

label {
    color: #afb1b3;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
}

.form-control {
    color: #e1e1e2;
    background-color: #303338;
    border: 1px solid #222427;
}

.form-control:focus {
    color: #e1e1e2;
    background-color: #303338;
    border: 1px solid #7289da;
    box-shadow: none;
}

.btn {
    color: #fff;
    background-color: #7289da;
    border: none;
}

.btn:hover {
    background-color: #6c82ce
}

#connecting {
    padding: .375rem .75rem;
}

a.channel-link {
    color: #72767d;
}

a.channel-link:hover {
    color: #fff;
    background-color: #36393f;
    text-decoration: none;
}

button#pm {
    color: #fff;
    background-color: #7289da;
    border: none;
}

button#pm:hover {
    background-color: #6c82ce;
}

#messages {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    margin-bottom: 68px;
}

#messagebox {
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #36393f;
}

::-webkit-scrollbar {
    border: none!important;
    width: 6px!important;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .45)!important;
    border-radius: 20px!important;
    border: none!important;
}

::-webkit-scrollbar-track {
    border: none!important;
    background: var(--backgroundDark)!important;
}

::-webkit-scrollbar-track-piece {
    background: 0 0!important;
    border: none!important;
}

.servericon {
    height: 48px;
    margin: 0 auto;
    border-radius: 50%;
}

.avatars {
    border-radius: 50%;
    height: 48px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.msgbody {
    display: inline-block;
    width: calc(100% - 88px);
    word-wrap: break-word;
}

.attachedimage {
    max-height: 300px;
    max-width: 400px;
}

.emoji {
    height: 1rem;
    min-height: 2rem;
}
